.navbar {
  background: #333;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
    margin: 0;
}

.navbar-user {
  display: flex;
  align-items: center;
}

.navbar-user span {
  margin-right: 20px;
}

.navbar-user button {
  padding: 8px 15px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}